@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

body {
	font-family: 'PT Sans Caption';
	margin: 0;
    background-color: #ebecf0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

.container {
    margin-right: auto;
	margin-left: auto;
	max-width: 1300px;
}

.page-content {
    margin-top: 20px;
    display: flex;
    overflow: hidden;
    border-radius: 30px;
    background-color: #fff;
}

aside {
    width: 300px;
    background-color: #F8F8FB;
    padding: 40px;
}

.nav-title {
    margin: 0;
    font-size: 32px;
}

nav {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 18px;
    margin-top: 30px;
}

.nav-item {
    margin: 10px;
    transition: 0.3s;
    position: relative;
}

.nav-item:hover {
    transform: translateX(14px);
}

.nav-item-arrow {
    position: absolute;
    top: -1px;
    left: -13px;
    height: 8px;
    width: 10px;
    border-radius: 2px;
    opacity: 0;
    transition: 0.3s;
}

.nav-item:hover .nav-item-arrow {
    opacity: 1;
}

.active {
    font-weight: 500;
    padding-left: 30px;
    position: relative;
}

.active:hover {
    transform: none !important;
}

.active::before {
    display: block;
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    background-color: #000;
    height: 4px;
    width: 23px;
    border-radius: 2px;
}

.calc-content {
    padding: 40px 60px;
}

.calc-title {
    margin: 0;
}

form {
    margin-top: 40px;
}

.input-template {
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 0;
    font-family: 'Inter';
    font-weight: 400;
    width: 265px;
}

.input-template label {
    color: #333333;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-template input {
    height: 35px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    outline: none;
    font-weight: 500;
    padding-left: 10px;
    
}

.input-template input::-webkit-input-placeholder {
    color: #bbb;
}

.input-describe {
    background-color: #EEEEEE;
    padding: 8px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
}

.input-describe img {
    margin-right: 5px;
}

.input-describe p {
    font-size: 14px;
    margin: 0;
}

.dnf-input-template {
    width: 500px;
}